<div class="row animate__animated animate__fadeIn">
    <div class="col-12">
        {% if listRegistros|length > 0 %}
            <div class="listado" style="padding:1px; max-height:514px; overflow-y:auto; overflow-x:hidden">
                <table class="table table-sm table-bordered table-hover animate__animated animate__fadeIn" style="margin-bottom:10px">
                    <tr class="bg-light text-primary">
                        <td width="40px"></td>
                        <th style="text-align:center; font-size:13px">Fecha</th>
                        <th style="text-align:center; font-size:13px">Numero</th>
                        <th style="text-align:center; font-size:13px">Producto</th>
                        <th style="text-align:center; font-size:13px">Usuario</th>

                    </tr>
                    {% for registro in listRegistros %}
                        <tr>
                            <td style="text-align:center">
                                <div class="dropdown dropleft" id="opciones{{ registro.id }}">
                                    <a role="button" id="opc{{ registro.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer" data-action="facturas--facturas#showOpciones">
                                        <i class="fas fa-cog text-primary"></i>
                                    </a>
                                    <div class="dropdown-menu animate__animated animate__fadeIn" aria-labelledby="opc{{ registro.id }}">
                                        <a 
                                            href="#"
                                            data-id="{{ registro.id }}"
                                            class="dropdown-item font-weight-bold text-success" 
                                            data-action="facturas--facturas#showModalNuevoFactura"
                                        >
                                            <i class="fas fa-edit"></i>  Editar
                                        </a>
                                        <a 
                                            href="#" 
                                            data-id="{{ registro.id }}"  
                                            class="dropdown-item font-weight-bold text-danger" 
                                            data-action="facturas--facturas#eliminarFactura"
                                        >
                                            <i class="fas fa-times-circle"></i>  Eliminar
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left:7px; font-size:13px">{{ registro.fecha|date("Y-m-d") }}</td>
                            <td style="padding-left:7px; font-size:13px">{{ registro.numero }}</td>
                            <td style="padding-left:7px; font-size:13px">{{ registro.producto.nombre|default("-----") }}</td>
                            <td style="padding-left:7px; font-size:13px">{{ registro.usuario.nombre|default("-----") }}</td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div 
                class="text-danger text-center font-weight-bold animate__animated animate__fadeIn" 
                style="opacity:0.8; height:60px; display:flex; align-items:center; justify-content:center; font-size:13px"
            >
                ¡No se encontraron registros para listar!
            </div>
        {% endif %}
        <input type="hidden" id="totalRegistrosHidden" data-facturas--facturas-target="totalRegistrosHidden" value="{{ listRegistros|length }}">
    </div>
</div>